<h2>Ultimas Noticias</h2>
<hr>
<!-- 
<div class="d-flex">
    <div>
        <img src="/assets/img/noticias/acapulco1.jpg" alt="" class="img-tumbnail img-fluid">
        <h3 class="d-block "><strong>Noticia Cinematografica</strong> </h3>
        <h4 class="text-secondary"><img src="/assets/img/noticias/usuario.png" alt="" class="img-fluid"> Edder Serna
            <img src="/assets/img/noticias/calendario3.svg" alt="" class="img-fluid"> 22/03/2020</h4>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis vitae officiis ipsam sequi facilis illum iure ipsa enim esse vero corporis quisquam exercitationem eaque commodi nulla architecto, officia iste earum.</p>
        <a href="">Leer Articulo Completo <img src="/assets/img/noticias/flecha-derecha.png" alt=""> </a>
    </div>

    <div class=" d-flex  bg-danger">

        <div class="c-img bg-secondary row">
            <div class="col">
                <img src="/assets/img/noticias/acapulco2.jpg" alt="" class="img-tumbnail img-fluid">
            </div>
            <div class=" col-xs-8 d-inline-block bg-dark flex-fill">
                <p class="text-secondary"><img src="/assets/img/noticias/usuario.png" alt="" class="img-fluid"> Edder Serna
                    <img src="/assets/img/noticias/calendario3.svg" alt="" class="img-fluid"> 22/03/2020</p>
                <a href="">Leer Articulo Completo <img src="/assets/img/noticias/flecha-derecha.png" alt=""> </a>
            </div>
        </div>

        <div class="d-flex c-img bg-secondary row">
            <div class="col">
                <img src="/assets/img/noticias/acapulco2.jpg" alt="" class="img-tumbnail img-fluid">
            </div>
            <div class=" col d-inline-block bg-dark">
                <p class="text-secondary"><img src="/assets/img/noticias/usuario.png" alt="" class="img-fluid"> Edder Serna
                    <img src="/assets/img/noticias/calendario3.svg" alt="" class="img-fluid"> 22/03/2020</p>
                <a href="">Leer Articulo Completo <img src="/assets/img/noticias/flecha-derecha.png" alt=""> </a>
            </div>
        </div>

        <div class="d-flex c-img bg-secondary row">
            <div class="col">
                <img src="/assets/img/noticias/acapulco2.jpg" alt="" class="img-tumbnail img-fluid">
            </div>
            <div class=" col d-inline-block bg-dark">
                <p class="text-secondary"><img src="/assets/img/noticias/usuario.png" alt="" class="img-fluid"> Edder Serna
                    <img src="/assets/img/noticias/calendario3.svg" alt="" class="img-fluid"> 22/03/2020</p>
                <a href="">Leer Articulo Completo <img src="/assets/img/noticias/flecha-derecha.png" alt=""> </a>
            </div>
        </div>

        



    </div>
</div>
-->


<div class="card-deck">
    <div class="card">
        <img src="/assets/img/noticias/acapulco4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Noticia Cinematografica</h5>
            <p class="card-text"><small class="text-muted"><img src="/assets/img/noticias/usuario.png" alt="" class="img-fluid c-img2"> Edder Serna <img src="/assets/img/noticias/calendario3.svg" alt="" class="img-fluid c-img2"> 22/03/2020</small></p>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><a href="">Articulo Completo <img src="/assets/img/noticias/flecha-derecha.png" alt=""> </a></p>
        </div>
    </div>
    <div class="card">
        <img src="/assets/img/noticias/acapulco2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Noticia Cinematografica</h5>
            <p class="card-text"><small class="text-muted"><img src="/assets/img/noticias/usuario.png" alt="" class="img-fluid c-img2"> Edder Serna <img src="/assets/img/noticias/calendario3.svg" alt="" class="img-fluid c-img2"> 22/03/2020</small></p>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><a href="">Articulo Completo <img src="/assets/img/noticias/flecha-derecha.png" alt=""> </a></p>
        </div>
    </div>
    <div class="card">
        <img src="/assets/img/noticias/acapulco3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Noticia Cinematografica</h5>
            <p class="card-text"><small class="text-muted"><img src="/assets/img/noticias/usuario.png" alt="" class="img-fluid c-img2"> Edder Serna <img src="/assets/img/noticias/calendario3.svg" alt="" class="img-fluid c-img2"> 22/03/2020</small></p>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><a href="">Articulo Completo <img src="/assets/img/noticias/flecha-derecha.png" alt=""> </a></p>
        </div>
    </div>
</div>

<p class="text-right"><a href="http://"><u>Leer todas las noticias...</u> </a></p>


<!-- <img src="/assets/img/noticias/calendario.svg" alt="" class="img-fluid"> -->