<nav class="navbar navbar-light bg-transparent d-flex d-inline justify-content-around align-items-center">
    <div>
        <a class="navbar-brand" href="#">
            <img src="/assets/img/film-reel.svg" width="40" height="40" class="" alt="" loading="lazy"> Comision Municipal de Filmaciones de Acapulco
        </a>
    </div>
    <div>
        <img src="/assets/img/clima/sol.svg" alt="" width="30" height="30"><strong>Nublado </strong>30° Max / 31° Min
    </div>
    <div>


        <strong>Idioma</strong>
        <a class="text-muted foot text-right isDisabled" href="#">      Español  </a><img class="img-fluid imagen" src="assets/img/banderas/mexico.svg" alt=""> |
        <a class="  text-dark foot" href="#">  Ingles  </a>
        <img class="img-fluid imagen" src="assets/img/banderas/reino-unido.svg" alt="">
    </div>
</nav>