<h1 class="text-center animated fadeIn"><strong>Noticias Y Eventos</strong></h1>
<hr>
<section class="container">
    <section class="row">
        <div class="col-4">
            <div class=" news-card-tag">
                <span class="label"><a href="#">Angular 2</a></span>
                <span class="label"><a href="#">Angular 4</a></span>
            </div>
            <div class="card news-card">
                <img src="https://i.imgur.com/6jMbuU1.jpg">
                <div class="card-section">
                    <div class="news-card-date">Domingo, 22 de Abril</div>
                    <article class="news-card-article">
                        <h4 class="news-card-title"><a href="#">Convocatoria Incentivos</a></h4>
                        <p class="news-card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae facere, ipsam quae sit, eaque perferendis commodi!...</p>
                    </article>
                    <div class="news-card-author">
                        <div class="news-card-author-image">
                            <img src="https://i.imgur.com/lAMD2kS.jpg" alt="user">
                        </div>
                        <div class="news-card-author-name">
                            Por <a href="#">Edder Serna</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>













    </section>
</section>