<div class="animated fadeIn fast divg">

    <h1 class="text-center"><strong>Bienvenidos</strong></h1>

    <div class="embed-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/jH1RNk8954Q" frameborder="0" allow=" autoplay; clipboard-write; encrypted-media;  picture-in-picture" allowfullscreen></iframe>
        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/jH1RNk8954Q?&autoplay=1" frameborder="0" allow=" autoplay; clipboard-write; encrypted-media;  picture-in-picture" allowfullscreen></iframe> -->
    </div>

    <div class="text-center divgg">
        <h2>Objetivo</h2>
        <p><i>ipsum dolor sit, amet consectetur adipisicing elit. Neque fuga nesciunt architecto enim, amet quod reprehenderit, odio ipsa sint doloremque error illo laudantium voluptate? Facilis veniam saepe dolor ipsam sequi.</i> </p>
    </div>

    <div class="divgg">
        <h2>Locaciones Emblematicas</h2>
        <hr>
        <app-carrusel></app-carrusel>

    </div>



    <div class="divgg">
        <app-ulnoticias></app-ulnoticias>
    </div>






</div>