<nav class="navbar navbar-expand-lg navbar-light bg-transparent animated fadeIn ">
    <!--<a class="navbar-brand" href="#">Inicio</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['home']">Home</a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['locaciones']">Locaciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Mapa Fílmico</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['proveedores']">Proveedores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['blog']">Noticias y Eventos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Producción</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['contacto']">Contacto</a>
            </li>

        </ul>

    </div>
</nav>