<h1 class="animated fadeIn ">Proveedores</h1>

<section class="animated fadeIn">


    <div class="input-group custom">

        <select class="custom-select " id="inputGroupSelect04" aria-label="Example select with button addon">
        <option selected>Seleccionar Categoria...</option>
        <option value="1">One</option>
        </select>

        <div class="input-group-append ">
            <button class="btn btn-outline-secondary" type="button">Ir a ...</button>
        </div>

    </div>

    <hr>

    <h3>Proveedores <small>Todos</small></h3>

    <div class="card">
        <h5 class="card-header"><strong>Vestuario Mexico</strong></h5>


        <div class="card-body">
            <h5 class="card-title">Edder Serna</h5>
            <span class="card-text"> <strong>Direccion: </strong> </span><br>
            <span class="card-text"><strong>Telefono:</strong> </span><br>
            <span class="card-text"><strong>Email: </strong> </span><br>
            <span class="card-text"> <strong>Sitio Web:</strong> </span><br>

            <p class="card-text"><strong>Descripcion:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto sequi quas minima accusantium sunt fugit aut, est suscipit voluptate, harum consequuntur quisquam consectetur, ducimus quasi quibusdam hic illo
                doloribus consequatur!</p>

            <div class="cImg">
                <a href="http://www.facebook.com">
                    <span class="icon icon-fb fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-facebook-f fa-inverse fa-stack-1x"></i>
                      </span>
                </a>
                <a href="http://www.twitter.com">
                    <span class="icon icon-tw fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                        
                      </span>
                </a>


                <a href="http://www.youtube.com">
                    <span class="icon icon-yt fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                      </span>
                </a>

                <a href="http://www.pinterest.com">
                    <span class="icon icon-pi fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-pinterest-p fa-stack-1x fa-inverse"></i> 
                      </span>
                </a>

            </div>


        </div>
    </div>




</section>