<div id="footer" class="card border-white mb-3 ">
    <hr>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <!--Column1-->
            <div class="footer-pad">
                <h4>Secciones</h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="#"></a>
                    </li>
                    <li><a class="text-secondary foot" href="#">Locaciones</a></li>
                    <li><a class="text-secondary foot" href="#">Mapa Filmico</a></li>
                    <li><a class="text-secondary foot" href="#">Proveedores</a></li>
                    <li><a class="text-secondary foot" href="#">Producción</a></li>

                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <!--Column1-->
            <div class="footer-pad">
                <h4>Usuarios</h4>
                <ul class="list-unstyled">
                    <li><a class="text-secondary foot" href="#">Login</a></li>
                    <li><a class="text-secondary foot" href="#">Configuración</a></li>
                    <li><a class="text-secondary foot" href="#">Editor</a></li>

                </ul>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <!--Column1-->
            <div class="footer-pad">
                <h4>Acerca de</h4>
                <ul class="list-unstyled">
                    <li><a class="text-secondary foot" href="#">Aplicación</a></li>
                    <li><a class="text-secondary foot" href="#">Contacto</a></li>
                    <li><a class="text-secondary foot" href="#">Politica de privacidad</a></li>
                    <li><a class="text-secondary foot" href="#">Terminos de uso</a></li>

                </ul>
            </div>
        </div>

        <div class="col-md-3">
            <h4>Siguenos</h4>
            <a href="http://www.facebook.com">
                <span class="icon icon-fb">
                    <i class="fab fa-facebook"></i>
                  </span>
            </a>

            <a href="http://www.facebook.com">
                <span class="icon icon-tw">
                    <i class="fab fa-twitter"></i>
                  </span>
            </a>


            <a href="http://www.youtube.com">
                <span class="icon icon-yt">
                    <i class="fab fa-youtube"></i>
                  </span>
            </a>

            <a href="http://www.youtube.com">
                <span class="icon icon-pi">
                    <i class="fab fa-pinterest"></i>
                  </span>
            </a>









        </div>
    </div>


    <hr>

</div>

<div class="row">
    <div class="col-md-12 copy ">
        <p class="text-center text-secondary">&copy; Copyright 2020 - Edder Serna. All rights reserved.</p>
    </div>
</div>




<!-- <div id="footer" class="card border-dark mb-3 d-inline " style="max-width: 18rem;"  > 
    
<div class="card-header bg-transparent">Header</div>

-->