#footer {
    margin: 20px;
    padding: 20px;
}

.foot:hover {
    color: #a20a0a !important;
}

.icon {
    font-size: 3em;
    padding: 10px;
}

.icon-fb {
    color: #39569c;
}

.icon:hover {
    opacity: 0.7;
}

.icon-tw {
    color: #00acee;
}

.icon-yt {
    color: red;
}

.icon-pi {
    color: #c8232c;
}